# Web framework
Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1

# Database
psycopg2-binary==2.9.9

# Async tasks & broker
celery[redis]==5.4.0
redis==5.0.8
django-celery-results==2.5.1
django-celery-beat==2.6.0

# API utilities
django-filter==24.3
django-cors-headers==4.4.0
drf-spectacular==0.27.2
drf-spectacular-sidecar==2024.7.1

# Auth
google-auth==2.35.0

# Serving
gunicorn==23.0.0
daphne==4.1.2

# Storage & media
Pillow==11.0.0
django-unused-media==0.2.2

# Config & utils
python-decouple==3.8
markdown==3.7
