# Web framework
Django
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary

# Async tasks & broker
celery[redis]
redis
django-celery-results
django-celery-beat

# API utilities
django-filter
django-cors-headers
drf-spectacular
drf-spectacular-sidecar

# Auth
google-auth

# Serving
gunicorn
daphne

# Storage & media
Pillow
django-unused-media

# Config & utils
python-decouple
markdown
